form{
    text-align: center;
}

input,
.mensagem {
    text-align: center;
    margin: 5px auto;
    display: block;
}

.mensagem {
    display: none;
}

.erro {
    display: block;
    background-color: red;    
    text-align: center;
    line-height: 25px;
    width: 180px;
    border-radius: 3px;
}

.valido {
    display: block;
    background-color: green;    
    line-height: 25px;
    width: 180px;
    border-radius: 3px;
}