* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(14, 146, 223);
    padding: 18px;
}

.container {
    padding-bottom: 18px ;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(14, 146, 223);
}

form input,
form button{
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 8px;
    font-size: 18px;
}

form label {
    display: block;
    margin: 8px 0px;
}

form button {
    width: 20%;
    margin-top: 18px;
}
